:root {
    --our-cyan: #3bafbe;
    --our-darker-cyan: #006b6b;
    --our-dark-gray: #202020;
    --our-light-gray: #999999;
    --our-gray: #303030;
  }
*{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    margin-left: auto !important;
    margin-right: auto !important;
}

.about-section{
margin-left: 50px; 
margin-right: 50px;
margin-top: 50px;  
 background: url(../Images/about/restaurant/hamburger.jfif) no-repeat left;
    background-size: 55%;
    background-color:var(--our-darker-cyan);
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 55%;
    float: right;
    background-color: #fdfdfd;
    padding: 150px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: var(--our-cyan);
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}