:root {
    --our-cyan: #3BAFBE;
    --our-dark-gray: #353535;
    --our-gray: #454545;
}
/* html {
    overflow-x: hidden;
    font-family: 'Old Standard TT', serif;
    overflow-anchor: none;
} */


h1, h2, h3 {
    color: var(--our-dark-gray);
}

p {
    color: var(--our-gray);
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}

/* body {
    margin: 0;
    padding: 0;
    font-size: 100%;
    background-color: #FFFFFF; */
/* } */

a {
    text-decoration: none;
}

#pjate {
    background-position: left center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#lorem {
    color: aliceblue;
}

.background {
    position: static;
}

.social-top {
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    /* transition: all 350ms ease-in-out; */
}

.the-header {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: flex-end;
    width: 100%;
    padding: 10px;
}

.social-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: var(--our-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 50px;
}

.social-icons a:hover {
    background-color: #EE802F;
    cursor: pointer;
}

.social-icons a i {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.social-links a {
    color: #97455F;
    padding: 0 5px;
    text-decoration: none;
}
ul#menu li {
    display: inline;
    opacity: 2;
    color: #999999;
    font-family: Georgia, Georgia, MyriadPro-Regular, AdobeInvisFont;
    font-size: 12px;
}
ul#menu li a{
    color: var(--our-gray);
    font-size: 12px;
    font-weight: bold;
}
ul#menu li a:active{
    color: var(--our-cyan);
}
.active{
    color: var(--our-cyan);
}
.logo-info {
    display: flex;
    justify-content: space-between;
}
header{
    display: flex;
    flex-direction: column;
}
.header-hr {
    opacity: 0.0;
    width: 100%;
}


.header-nav-bar {
    
    flex: 2;
}

.top-page-accent-line {
    width: 150%;
    height: 5px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: var(--our-cyan);
}

.homepage-description {
    font-family: "Times New Roman", Times, serif;
    line-height: 0;
    font-weight: 100;
}

.separator {
    width: 200%;
    margin-left: -100px;
}

input {
    height: 33px;
    border-radius: 10px;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

input[type=submit] {
    background-color: var(--our-cyan);
}

button {
    color: white;
    background-color: var(--our-cyan);
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border-radius: 10px;
    border: none;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=text] {
    background-color: var(--our-dark-gray);
}

::placeholder {
    /* Shumica e shfletuesve */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

input:focus, textarea:focus, keygen:focus, select:focus {
	outline: none;
}
::-moz-placeholder {
	color: #666;
	font-weight: 300;
	opacity: 1;
}
::-webkit-input-placeholder {
	color: #666;
	font-weight: 300;
}

/* contact from design */
.container {
	padding: 20px 50px 70px;
}
.sec1title {
	text-align: center;
}
.sec1title h1 {
	    font-size: 40px;
    margin: 25px;
    text-transform: uppercase;
    color: var(--our-cyan);
    font-weight: 400;
}
.section2 {
	position: relative;
	overflow: hidden;
}
.section2 .contactform {
    position: absolute;
    top: 0;
    right: 10%;
    z-index: 99;
    background: #393939;
    padding: 30px 40px 70px;
    box-sizing: border-box;
}
.section2 .contactform input.form-fields,
.section2 .contactform button.form-fields,
.section2 .contactform textarea.form-fields {
    padding: 0 0 0 40px;
    display: block;
    box-sizing: border-box;
    width: 350px;
    font-size: 16px;
    background: #323232;
    margin: 7px 0;
    border: 1px solid var(--our-cyan);
    color: var(--our-cyan);
    opacity: 0.5;
    min-height: 45px;
    text-shadow: none;
    position: relative;
}
.section2 .contactform textarea.form-fields {
	padding: 8px 40px;
	resize: none;
}
.section2 .contactform button.form-fields.button {
	color: var(--our-cyan);
	font-size: 14px;
	padding: 0;
	text-transform: uppercase;

}
.section2 .contactform button.form-fields.button:hover {
	background: var(--our-cyan);
	color: #fff;
	cursor: pointer;
	opacity: 1;
}

.section2 .contactform button.form-fields.button i {
	margin-left:10px;
}

.section2 .contactform h5 {
	color: var(--our-cyan);
    font-size: 16px;
    margin-bottom: 15px;
}
.section2 .contactform label .cntfrmicn {
	color: #00C1A8;
    padding: 14px;
    position: absolute;
    z-index: 99;
}

.nav-item {
    border: none;
    outline: none;
    padding: 10px 16px;
    cursor: pointer;
    font-size: 18px;
    
  }
  

  .header-right {
     text-align: center;
     position: relative;
     overflow: hidden;
  }
  
  .active, .nav-item:hover {
    background-color: #DCDCDC;
    color: white;
  }
  


@media only screen and (max-width: 660px) {
	.container {
		padding: 10px 20px 30px;
	}
	.contmap {
		height: 475px !important;
	}
	.sec1title h1 {
		font-size: 28px;
	}
	.section2 .contactform { padding: 10px; right: 0; width: 100%; }
	.section2 .contactform input.form-fields, .section2 .contactform button.form-fields, .section2 .contactform textarea.form-fields {
		width: 100%;
    }
}