:root {
    --our-cyan: #3BAFBE;
    --our-dark-gray: #353535;
    --our-gray: #454545;
}
/* html {
overflow-x: hidden;
font-family: 'Old Standard TT', serif;
overflow-anchor: none;
} */

h1, h2, h3 {
    color: var(--our-dark-gray);
}

p {
    color: var(--our-gray);
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

/* body {
margin: 0;
padding: 0;
font-size: 100%;
background-color: #FFFFFF; */
/* } */

a {
    text-decoration: none;
}
.header-right {
    float: right;
}

#pjate {
    background-position: left center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#lorem {
    color: aliceblue;
}

.background {
    position: static;
}

.social-top {
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    /* transition: all 350ms ease-in-out; */
}

#the-header {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 100%;
    padding: 10px;
}

.social-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: var(--our-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 50px;
}

.social-icons a:hover {
    background-color: #EE802F;
    cursor: pointer;
}

.social-icons a i {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.social-links a {
    color: #97455F;
    padding: 0 5px;
    text-decoration: none;
}
ul#menu li {
    display: inline;
    opacity: 2;
    color: #999999;
    font-family: Georgia, Georgia, MyriadPro-Regular, AdobeInvisFont;
    font-size: 12px;
}
ul#menu li a{
    color: var(--our-gray);
    font-size: 12px;
    font-weight: bold;
}
ul#menu li a:active{
    color: var(--our-cyan);
}
.active{
    color: var(--our-cyan);
}

#foto {
    position: relative;
    width: 100%;
}



#tekst1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Brush Script MT;
    font-size: 40px;
    color: #999999;
    font-weight: 10;
}

#rezervimi {
    color: white;
    font-size: 100px;
}

.logo-info {
    display: flex;
    justify-content: space-between;
}

header {
    display: flex;
    flex-direction: column;
}

.main-header {
    display: flex;
    justify-content: space-between;
}

.header-hr {
    opacity: 0.0;
    width: 100%;
}

.header-nav-bar {
    align-items: flex-end;
    justify-content: flex-end;
}

.top-page-accent-line {
    width: 150%;
    height: 5px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: var(--our-cyan);
}

.homepage-description {
    display: inline-block;
    font-family: "Times New Roman", Times, serif;
    line-height: 0;
    font-weight: 100;
}

.separator {
    width: 100%;
}

.separator {
    width: 200%;
    margin-left: -30px;
}

input {
    height: 33px;
    border-radius: 10px;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.subscribe-form {
    text-align: left;
}
.footer-subscribe {
    display: inline;
}
input[type=submit] {
    background-color: var(--our-cyan);
}

button {
    color: white;
    background-color: var(--our-cyan);
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border-radius: 10px;
    border: none;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=text] {
    background-color: var(--our-dark-gray);
}


input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}
#delicious {
    text-align: center;
    padding: inherit; 3em 1em 1em 1em;
    /* font-family: Brush Script MT; */
    font-size: 30px;
}
.booking {
    background-color: skyblue;
    padding: 70px;
    border: 1px solid #4CAF50;
}
.booking_link{
    color: black;
    font-family: sans-serif;
    border-style: solid;
}
.footer-div {
    display: inline;
    display: flex;
    
}
.footer-subscribe{
    padding-left: 200px;
}
.footer-links{
    padding-left: 200px;

}
.footer-blog{
    padding-left: 200px;

}
.ftco-heading-2 {
    color: white;
}
.ftco-heading-2 p{
    color: white;
}

.footer-div{
    background-color: #33302f;
}
.reservation-form {
    display: flex;
    margin-left: 20px;
}
#p1 {
    padding-top: 100px;
    padding-left: 30px;
}
.nav-item {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .nav-item:hover {
  color: skyblue;
}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/w3images/pizza.jpg");
  min-height: 90%;
}
.menu-wrap {
    margin-bottom: 3em;
    padding: 3em 1.5em .5em 1.5em;
    border: 1.5px dashed #e6e6e6;
    position: relative;
    background: #fcfcfc;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.menut {
    display: flex;
    padding: 30px;
}
.menus .menu-img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.hotel-img, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.end-footer {
    background-color: var(--our-dark-gray);
    display: flex;
    justify-content: space-between;
}

.end-footer p {
    color: var(--our-light-gray);
    padding-left: 10px;
    padding-right: 10px;
}
.main-footer {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
    background-color: var(--our-gray);
    color: whitesmoke;
}
.main-footer .sector {
    color: whitesmoke;
    padding-left: 10px;
    line-height: 1;
    margin: 0;
    flex-basis: 24%;
}
.main-footer .sector h1 {
    color: whitesmoke;
    font-size: 22px;
    font-weight: 100;
}
.main-footer .sector p {
    color: var(--our-light-gray);
}

.main-footer .sector pre {
    color: var(--our-light-gray);
    line-height: 1.5;
}

.main-footer .sector input {
    display: block;
    margin-top: 10px;
}

.main-footer .sector input::placeholder {
    color: var(--our-light-gray);
    opacity: 0.5;
}

.main-footer .sector input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: var(--our-light-gray);
    opacity: 0.5;
}

a {
    color: var(--our-cyan);
}
.heading-section .subheading {
    font-weight: normal;
    font-size: 40px;
    display: block;
    margin-bottom: 0;
    color: rgba(0, 0, 0, 0.2);
    color: #eb5860;
    position: relative;
    line-height: 1;
    font-family: "Dancing Script", cursive;
    margin-bottom: -20px;
    z-index: -1;
    text-align: center !important;
}
.mb-4 {
    text-align: center !important;
    font-family: cursive;
    color: black;
}

.text {
    height: 150px;
    width: 230px;
}
.active {
    background-color: var(--our-darker-cyan);
    height: 20px;
    width: 20px;
    margin: 0px;
}
  

.fixed-bg-3::after {
    content: '';
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
   
}
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  width: 500px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #3BAFBE;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--our-cyan);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #3BAFBE;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}