:root {
    --our-cyan: #3BAFBE;
    --our-dark-gray: #353535;
    --our-gray: #454545;
}
/* html {
overflow-x: hidden;
font-family: 'Old Standard TT', serif;
overflow-anchor: none;
} */

h1, h2, h3 {
    color: var(--our-dark-gray);
}

p {
    color: var(--our-gray);
}

html, body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size: 14px;
    line-height: 1.5;
    overflow-x: hidden;
}
.container {
    width: 1140px;
    margin: 0 auto;
}

/* body {
margin: 0;
padding: 0;
font-size: 100%;
background-color: #FFFFFF; */
/* } */

a {
    text-decoration: none;
}
.header-right {
    float: right;
}

#pjate {
    background-position: left center;
    background-repeat: repeat-x;
    background-attachment: fixed;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#lorem {
    color: aliceblue;
}

.background {
    position: static;
}

.social-top {
    background-color: #ffffff;
    padding: 10px;
    position: relative;
    /* transition: all 350ms ease-in-out; */
}

#the-header {
    display: flex;
    justify-content: space-around;
    align-content: flex-end;
    width: 100%;
    padding: 10px;
}

.social-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-icons {
    display: flex;
}

.social-icons a {
    background-color: var(--our-dark-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33px;
    height: 33px;
    margin-left: 5px;
    margin-right: 5px;
    text-decoration: none;
    border-radius: 50px;
}

.social-icons a:hover {
    background-color: #EE802F;
    cursor: pointer;
}

.social-icons a i {
    font-size: 18px;
    color: #FFFFFF;
    text-align: center;
}

.social-links a {
    color: #97455F;
    padding: 0 5px;
    text-decoration: none;
}
ul#menu li {
    display: inline;
    opacity: 2;
    color: #999999;
    font-family: Georgia, Georgia, MyriadPro-Regular, AdobeInvisFont;
    font-size: 12px;
}
ul#menu li a{
    color: var(--our-gray);
    font-size: 12px;
    font-weight: bold;
}
ul#menu li a:active{
    color: var(--our-cyan);
}
.active{
    color: var(--our-cyan);
}

#foto {
    position: relative;
    width: 100%;
}



#tekst1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Brush Script MT;
    font-size: 40px;
    color: #999999;
    font-weight: 10;
}

#rezervimi {
    color: white;
    font-size: 100px;
}

.logo-info {
    display: flex;
    justify-content: space-between;
}

.header-hr {
    opacity: 0.0;
    width: 100%;
}

.header-title {
    font-size: xx-large;
}

.header-description {
    flex: 1;
    font-size: medium;
}

.header-nav-bar {
    display: flex;
    flex: 2;
}

.top-page-accent-line {
    width: 150%;
    height: 5px;
    margin-top: -20px;
    margin-left: -20px;
    background-color: var(--our-cyan);
}

.homepage-description {
    font-family: "Times New Roman", Times, serif;
    line-height: 0%;
    font-weight: 100;
}

.separator {
    width: 200%;
    margin-left: -30px;
}

input {
    height: 33px;
    border-radius: 10px;
    border: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.subscribe-form {
    text-align: left;
}
.footer-subscribe {
    display: inline;
}
input[type=submit] {
    background-color: var(--our-cyan);
}

button {
    color: white;
    background-color: var(--our-cyan);
    padding-left: 10px;
    padding-right: 10px;
    height: 33px;
    border-radius: 10px;
    border: none;
    width: fit-content;
}

button:hover {
    cursor: pointer;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[type=text] {
    background-color: var(--our-dark-gray);
}


input:focus {
    outline: none;
}

button:focus {
    outline: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    padding: 10px;
}
#delicious {
    text-align: center;
    padding: inherit; 3em 1em 1em 1em;
    /* font-family: Brush Script MT; */
    font-size: 30px;
}
.booking {
    background-color: skyblue;
    padding: 70px;
    border: 1px solid #4CAF50;
}
.booking_link{
    color: black;
    font-family: sans-serif;
    border-style: solid;
}
.footer-div {
    display: inline;
    display: flex;
    
}
.footer-subscribe{
    padding-left: 200px;
}
.footer-links{
    padding-left: 200px;

}
.footer-blog{
    padding-left: 200px;

}
.ftco-heading-2 {
    color: white;
}
.ftco-heading-2 p{
    color: white;
}

.footer-div{
    background-color: #33302f;
}
.reservation-form {
    display: flex;
    margin-left: 20px;
}
#p1 {
    padding-top: 100px;
    padding-left: 30px;
}
.nav-item {
  border: none;
  outline: none;
  padding: 10px 16px;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .nav-item:hover {
  color: skyblue;
}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/w3images/pizza.jpg");
  min-height: 90%;
}
.menu-wrap {
    margin-bottom: 3em;
    padding: 3em 1.5em .5em 1.5em;
    border: 1.5px dashed #e6e6e6;
    position: relative;
    background: #fcfcfc;
    -moz-transition: all 0.6s ease;
    -o-transition: all 0.6s ease;
    -webkit-transition: all 0.6s ease;
    -ms-transition: all 0.6s ease;
    transition: all 0.6s ease;
}
.menut {
    display: flex;
    padding: 30px;
}
.menus .menu-img {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}
.hotel-img, .img, .blog-img, .user-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}